.content-container{
    background-color: #f5f5f5;
    height: 70vh;
    border-top: #424242 solid 5px;
}
.profile-photo{
    display: flex;
    border: 2px solid #424242;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    background-image: url('../../assets/img/fahrettin.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    margin-top: -100px;
    margin-left: 15px;
}
.timeline{
    width: 100vw;
    padding-top: 150px;
}
.line{
    background-color: #424242;
    height: 5px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 5vw;
    padding-right: 5vw;
}
.point-container,.job-container, .desc-container{
    display: flex;
    justify-content: space-around;
}
.point{
    background-color: #f5f5f5;
    border: #424242 2px solid;
    height: 30px;
    width: 30px;
    margin-top: -18px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    img{
        height: 25px;
        width: auto;
    }
}
.job{
    margin-top: -90px;
    transform: rotate(-45deg);
    text-align: left;
    width: 100px;
    margin-left: 100px;
    font-weight: bold;
    color: #424242;
}
.desc{
    margin-top: 10px;
    width: 100px;
    text-align: center;
    color: #424242;
    font-size: 12px;
}