<div class="content-container">
    <div class="profile-photo">
    </div>
    <div class="timeline">
        <div class="line">
            <div class="job-container">
                <div class="job">Sandıklı Afyon</div>
                <div class="job">Antalya</div>
                <div class="job">Antalya Teknik Lisesi</div>
                <div class="job">Selçuk Üniversitesi</div>
                <div class="job">Talya Bilişim</div>
                <div class="job">Etstur</div>
                <div class="job">İstanbul</div>
                <div class="job">Intertech</div>
            </div>
            <div class="point-container">
                <div class="point"><img src="../../assets/icon/birtday.png"></div>
                <div class="point"><img src="../../assets/icon/truck.png"></div>
                <div class="point"><img src="../../assets/icon/school.png"></div>
                <div class="point"><img src="../../assets/icon/school.png"></div>
                <div class="point"><img src="../../assets/icon/job.png"></div>
                <div class="point"><img src="../../assets/icon/job.png"></div>
                <div class="point"><img src="../../assets/icon/truck.png"></div>
                <div class="point"><img src="../../assets/icon/job.png"></div>
            </div>
            <div class="desc-container">
                <div class="desc">22.09.1993</div>
                <div class="desc">1997</div>
                <div class="desc">2007-2011</div>
                <div class="desc">2012-2018</div>
                <div class="desc">06.2018-11.2019</div>
                <div class="desc">11.2019-08.2020</div>
                <div class="desc">08.2020</div>
                <div class="desc">08.2020-null</div>
            </div>
        </div>
    </div>
</div>