.header-container{
    background-image: url('../../assets/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    flex: 1;
    height: 20vh;
    opacity: 0.7;
}