.footer-container{
    background-color: #424242;
    height: 10vh;
    display: flex;
    align-items: center;
    // font-family: 'Didact Gothic', sans-serif !important;
    font-family: 'Shippori Antique', sans-serif !important;
}
.social-accounts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex:1;
}
.social-item{
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 5px;
    a{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        img{
            max-height: 20px;
            max-width: 20px;
            height: auto;
            width: auto;
        }
        .linkedin{
            height: 15px!important;
            padding-bottom: 3px;
        }
        span{
            color: #424242
        };
    }
}