<div class="footer-container">
    <div class="social-accounts">
        <div class="social-item">
            <a href="https://github.com/fahrettinuygun" target="_blank">
                <img src="../../assets/icon/github.png">
                <span>/fahrettinuygun</span>
            </a>
        </div>
        <div class="social-item">
            <a href="https://www.linkedin.com/in/fahrettinuygun/" target="_blank">
                <img class="linkedin" src="../../assets/icon/linkedin.png">
                <span>/fahrettinuygun</span>
            </a>
        </div>
        <div class="social-item">
            <a href="https://twitter.com/fahrettinuygun" target="_blank">
                <img src="../../assets/icon/twitter.png">
                <span>/fahrettinuygun</span>
            </a>
        </div>
        <div class="social-item">
            <a href="https://www.youtube.com/channel/UCKT6_f74NJyMs1ZBN09LhMA" target="_blank">
                <img src="../../assets/icon/youtube.png">
                <span>/fahrettinuygun</span>
            </a>
        </div>
    </div>
</div>