.content-container{
    background-color: #f5f5f5;
    height: 70vh;
    border-top: #424242 solid 5px;
    overflow: scroll;
}

.timeline{ 
    margin-top: 20px;
    padding: 20px;
    // font-family: 'Didact Gothic', sans-serif !important;
    font-family: 'Shippori Antique', sans-serif !important;
    .timebox{
        margin-bottom: 3px;
        .box{
            display: flex;
            border: 3px solid gainsboro;
            border-radius: 8px;
            padding: 10px;
            .line{
                // padding: 5px;
                border-right: #424242 solid 5px;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: right;
                .point{
                    width: 10px;
                    height: 10px;
                    background-color: #424242;
                    border-radius: 10px 0px 0px 10px;
                }
            }
            .info{
                padding-left: 10px;
                .title{
                    .date{
                        margin-right: 5px;
                    }
                    .text{

                    }
                }
                .description{
                    h5{
                        font-weight: normal !important;
                    }
                }
            }
        }
        .box:hover{
            display: flex;
            border: 3px solid rgba(250, 190, 99, 0.801);
            border-radius: 8px;
            padding: 30px 15px;
            background-color: rgba(255, 179, 66, 0.2);
            .line{
                // padding: 5px;
                border-right: rgba(250, 190, 99, 0.801) solid 5px;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: right;
                .point{
                    width: 10px;
                    height: 10px;
                    background-color: rgba(250, 190, 99, 0.801);
                    border-radius: 10px 0px 0px 10px;
                }
            }
            .info{
                padding-left: 10px;
                .title{
                    color: rgb(250, 153, 7);
                    .date{
                        margin-right: 5px;
                    }
                    .text{

                    }
                }
                .description{
                    h5{
                        font-size:medium;
                        color: #424242;
                    }
                }
            }
        }
    }
}

// .point-container,.job-container, .desc-container{
//     display: flex;
//     justify-content: space-around;
// }
// .point{
//     background-color: #f5f5f5;
//     border: #424242 2px solid;
//     height: 30px;
//     width: 30px;
//     margin-top: -18px;
//     border-radius: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 3px;
//     img{
//         height: 25px;
//         width: auto;
//     }
// }
// .job{
//     margin-top: -90px;
//     transform: rotate(-45deg);
//     text-align: left;
//     width: 100px;
//     margin-left: 100px;
//     font-weight: bold;
//     color: #424242;
// }
// .desc{
//     margin-top: 10px;
//     width: 100px;
//     text-align: center;
//     color: #424242;
//     font-size: 12px;
// }