@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
// @import url('//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css');
@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

body{
    font-family: 'Didact Gothic', sans-serif !important;
    font-family: 'Shippori Antique', sans-serif !important;
}